name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [20, 22, 24]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci
      - run: npm run build

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
      - name: Use Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: npm run lint

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [20, 22, 24]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci
      - run: npm run test

  mongo-compatibility:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        mongodb: [5, 6, 7]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
      - name: Use Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - name: Use mongodb v${{ matrix.mongodb }}
        run: npm i mongodb@${{ matrix.mongodb }}
      - run: npm run build
      - run: npm run test
